<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bot.css">
</head>
<body>
    <div class="bot">
        <h1 class="TEXT">LEGAL BOT</h1>
    </div>
    <div class="b">
        <input type="text" class="t" aria-describedby=" enter">
    </div>
    
</body>
</html>